<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather2.png">
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/MEEE.jpg" alt="MEEE" class="portrait">
    </div>
        {{>footer}}
</body>
</html>