<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    
    <link rel="icon" href="/img/weather2.png">
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Use this site for weather data! </p>
    <p style="font-style: italic; font-size: small">Currently only US cities and a few others are available. </p>

    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>